@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-1 text-1 w-100 p-4 px-5">
    @foreach (var item in @ViewBag.Category)
    {
        <a asp-controller="News" asp-action="Category" asp-route-id="@item.CategoryId" class="text-1 text-decoration-none category-link">
            <p class="d-inline mr-4">@item.CategoryName</p>
        </a>
    }
</div>

<div class="row px-5">
    <div class="mt-5 col-8 py-3">
        <h4 class="text-3 font-weight-bold">TRENDING NOW</h4>
        @foreach (var item in @ViewBag.TrendingNews)
        {
        <a asp-controller="News" asp-action="Details" asp-route-id="@item.News.NewsId" class="text-2 text-decoration-none">
            <div class="w-100 row trendnews-box mt-5 cursor-pointer">
                <div class="col-3">
                    @foreach (var image in @ViewBag.NewsImage)
                    {
                        string[] link = image.Split("#");
                        string[] fileid = link[0].Split(".");
                        @if (Int64.Parse(fileid[0]) == item.News.NewsId)
                        {
                            <img src="@link[1]" class="w-100">
                        }
                    }
                </div>
                <div class="col-9">
                    <div class="bg-3 text-1 font-size-1 px-3 py-1 d-inline-block font-weight-bold rounded-pill">@item.News.Category.CategoryName</div>
                    <div class="text-4 font-size-1 d-inline-block">@item.News.PublishDateTime</div>
                    <h5 class="mt-2">@item.News.Title</h5>
                    <p>@item.News.Content</p>
                </div>
            </div>
        </a>
            
        }
    </div>

    <div class="mt-5 col-4">
        <div class="p-3 shadow-lg">
            <h4 class="text-3 font-weight-bold">MOST POPULAR NEWS</h4>
            @foreach (var item in @ViewBag.PopularNews)
            {
            <a asp-controller="News" asp-action="Details" asp-route-id="@item.News.NewsId" class="text-2 text-decoration-none">
                <div class="w-100 row popnews-box mt-4">
                    <div class="col-3">
                        @foreach (var image in @ViewBag.NewsImage)
                        {
                            string[] link = image.Split("#");
                            string[] fileid = link[0].Split(".");
                            @if (Int64.Parse(fileid[0]) == item.News.NewsId)
                            {
                                <img src="@link[1]" class="w-100">
                            }
                        }
                    </div>
                    <div class="col-9">
                        <div class="bg-3 text-1 font-size-1 px-3 py-1 d-inline-block font-weight-bold rounded-pill">@item.News.Category.CategoryName</div>
                        <div class="text-4 font-size-1 d-inline-block">@item.News.PublishDateTime</div>
                        <h6 class="mt-2">@item.News.Title</h6>
                    </div>

                </div>
            </a>
            <hr />
            }
            </div>

    </div>
</div>


<div class="row px-5 mt-5">
    <div class="mt-5 col-12 py-3">
        <h4 class="text-3 font-weight-bold">NEW RELEASE</h4>
        <div class="row justify-content-start ">
            @foreach (var item in @ViewBag.News)
            {
            <a asp-controller="News" asp-action="Details" asp-route-id="@item.NewsId" class="w-100 col-3 text-2 text-decoration-none">
                <div class="mx-5 newreleasenews-box mt-5 p-0 shadow-sm">
                    @foreach (var image in @ViewBag.NewsImage)
                    {
                        string[] link = image.Split("#");
                        string[] fileid = link[0].Split(".");
                        @if (Int64.Parse(fileid[0]) == item.NewsId)
                        {
                            <img src="@link[1]" class="w-100 newreleasenews-img">
                        }
                    }
                    <div class="p-3">
                        <div class="bg-3 text-1 font-size-1 px-3 py-1 d-inline-block font-weight-bold rounded-pill">@item.Category.CategoryName</div>
                        <div class="text-4 font-size-1 d-inline-block float-right">@item.PublishDateTime</div>
                        <h5 class="mt-2">@item.Title</h5>
                    </div>

                </div>
            </a>
            }
            </div>
        
    </div>
</div>