@model CoinsAge.Models.News

@{
    ViewData["Title"] = "Category";
}

<div class="bg-1 text-1 w-100 p-4 px-5">
    @foreach (var item in @ViewBag.Categories)
    {
        <a asp-controller="News" asp-action="Category" asp-route-id="@item.CategoryId" class="text-1 text-decoration-none category-link">
            <p class="d-inline mr-4">@item.CategoryName</p>
        </a>
    }
</div>

<div class="container mt-5 py-3">
    @foreach (var item in @ViewBag.Category)
    {
        <h4 class="text-3 font-weight-bold">SHOWING NEWS FOR @item.CategoryName</h4>
    }
    
    @foreach (var item in @ViewBag.News)
    {
        <a asp-controller="News" asp-action="Details" asp-route-id="@item.NewsId" class="text-2 text-decoration-none">
            <div class="w-100 row trendnews-box mt-5 cursor-pointer">
                <div class="col-3">
                    <img src="@item.ImageURL" class="w-100">
                </div>
                <div class="col-9">
                    <div class="bg-3 text-1 font-size-1 px-3 py-1 d-inline-block font-weight-bold rounded-pill">@item.Category.CategoryName</div>
                    <div class="text-4 font-size-1 d-inline-block">@item.PublishDateTime</div>
                    <h5 class="mt-2">@item.Title</h5>
                    <p>@item.Content</p>
                </div>
            </div>
        </a>

    }
    </div>
