@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-1 text-1 w-100 p-4 px-5">
    @foreach (var item in @ViewBag.Category)
    {
        <p class="d-inline mr-4">@item.CategoryName</p>
    }
</div>

<div class="row px-5">
    <div class="mt-5 col-8">
        <h4 class="text-3">TRENDING NOW</h4>
        @foreach (var item in @ViewBag.TrendingNews)
        {
            <div class="w-100 row news-box mt-4">
                <div class="col-3">
                    asdf
                </div>
                <div class="col-9">
                    <h5>@item.News.Title</h5>
                    <p>@item.News.Content</p>
                </div>
            </div>
        }
    </div>

    <div class="mt-5 col-4">
        <h4 class="text-3">MOST POPULAR NEWS</h4>
        @foreach (var item in @ViewBag.PopularNews)
        {
            <div class="w-100 row news2-box mt-4">
                <div class="col-3">
                    asdf
                </div>
                <div class="col-9">
                    <h5>@item.News.Title</h5>
                    <p>@item.News.Content</p>
                </div>
            </div>
        }
    </div>
</div>